.plainSlider {
    background-color: #FFC400;
    padding: 2rem 0;
}
.plainSliderMain {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
}
.plainSliderCards {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 16rem;
    overflow: hidden;
}
.plainSliderCardSingle {
    background-color: #fff;
    border-radius: 20px;
    padding: 0.5rem;
    text-align: center;
    min-width: 4rem;
    min-height: 5rem;
}
.plainSliderCardSingle img {
    width: 80%;
}
.plainSliderCardSingle p {
    font-family: "Oswald-Bold";
    font-size: 0.687rem;
    color: #FF5900;
    margin-top: 0.5rem;
}
.plainSliderMain .prev {
    position: absolute;
    left: 0;
}
.plainSliderMain .next {
    transform: rotateY(180deg);
    position: absolute;
    right: 0;
}
.plainSliderMain .prev img, .plainSliderMain .next img {
    width: 70%;
}

@media screen and (min-width: 420px) {
    .plainSliderCards {
        max-width: 22rem;
    }
    .plainSliderCardSingle {
        min-width: 6rem;
    }
}
@media screen and (min-width: 520px) {
    .plainSliderMain .prev, .plainSliderMain .next {
        position: unset;
    }
    .plainSliderMain .prev img, .plainSliderMain .next img {
        width: unset;
    }
    .plainSliderCardSingle p {
        font-size: 1rem;
    }
    .plainSliderCards {
        max-width: 28.25rem;
    }
    .plainSliderCardSingle {
        min-width: 8rem;
    }
}

@media screen and (min-width: 1112px) {
    .plainSlider {
        padding: 4rem 0;
    }
    .plainSliderCards {
        max-width: unset;
    }
    .plainSliderCardSingle {
        min-width: 8rem;
    }
    .plainSliderCardSingle img {
        width: auto;
    }
}
@media screen and (min-width: 1280px) {
    .plainSliderCardSingle {
        min-width: 10rem;
    }
}