.noveltyText {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.results.noveltyResults .resultText {
    width: 100%;
    padding: 0;
}
.results.noveltyResults .resultSingle img:first-child{
    width: 100%;
    max-width: unset;
    border-radius: unset;
}
.moreDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
.moreDate > p {
    color: #00B8AB;
}
@media screen and (min-width: 680px) {
    .results.noveltyResults {
        grid-template-columns: repeat(2, 1fr);
    }   
}
@media screen and (min-width: 1024px) {
    .results.noveltyResults {
        grid-template-columns: repeat(4, 1fr);
    }   
}